
body {
  margin: 0;
}
h2{
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center !important;
  margin: 15px !important;
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
  color: #000;
}
span {
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}
input {
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}
/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}
/* Style the input */
input {
  border: none;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
  color:#000 !important;
}

.cabecalho {
  background-color:#b3b3ff;
  height: 125px;
}